html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.txt1{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 137px;
  top:375px;
  left: 49px;
}
.txt2{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:515px;
  left: 49px;
}
.txt3{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:922px;
  left: 49px;
  width: 660px;
  height: 252px;
  line-height: 31px;
}
.txt4{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 20px;
  top:1443px;
  left: 739px;
  width: 181px;
  height: 52px;
  line-height: 26px;
}
.txt5{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:1920px;
  left: 428px;
  width: 255px;
  height: 42px;
}
.txt6{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 210px;
  top:1889px;
  left: 472px;
  width: 220px;
  height: 250px;
}
.txt7{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:1920px;
  left: 428px;
  width: 255px;
  height: 42px;
}
.txt8{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:1920px;
  left: 428px;
  width: 255px;
  height: 42px;
}
.txt9{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:2187px;
  left: 942px;
  width: 88px;
  height: 35px;
}
.txt10{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:1920px;
  left: 428px;
  width: 255px;
  height: 42px;
}
.txt11{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:2510px;
  left: 515px;
  width: 199px;
  height: 29px;
}
.txt12{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:1920px;
  left: 428px;
  width: 255px;
  height: 42px;
}
.txt13{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:1920px;
  left: 428px;
  width: 255px;
  height: 42px;
}
.txt14{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:1920px;
  left: 428px;
  width: 255px;
  height: 42px;
}
.txt15{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:2886px;
  left: 868px;
  width: 265px;
  height: 33px;
}
.txt16{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:2886px;
  left: 868px;
  width: 265px;
  height: 33px;
}
.txt17{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:3286px;
  left: 640px;
  width: 528px;
  height: 128px;
}
.txt18{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 20px;
  top:3728px;
  left: 305px;
  width: 230px;
  height: 39px;
}
.txt19{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:4523px;
  left: 49px;
  width: 320px;
  height: 33px;
}
.txt20{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 100px;
  top:4568px;
  left: 221px;
  width: 857px;
  height: 116px;
}
.txt21{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:4787px;
  left: 49px;
  width: 316px;
  height: 31px;
}
.txt22{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 200px;
  top:4791px;
  left: -126px;
  width: 1714px;
  height: 231px;
}
.txt23{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 27px;
  top:5101px;
  left: 49px;
  width: 316px;
  height: 36px;
}
.txt24{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 400px;
  top:5022px;
  left: -832px;
  width: 3427px;
  height: 462px;
}
.header1{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 13px;
  top:34px;
  left: 49px;
}
.header2{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 13px;
  top:34px;
  left: 157px;
}
.header3{
  color: black;
  font-family:Yeseva One;
  position: absolute;
  font-size: 13px;
  top:34px;
  left: 266px;
}
.flower{
  position: absolute;
  width: 40%;
  top: -105px;
  left:727px;
  height:auto;
}
.subtract{
  position: absolute;
  width: 1696.15px;
  top: 662px;
  left: -119px;
  height: 174.4px;
  background: #0000000;
}
